<ol class="breadcrumb noprint">
	<li><a ui-sref="main.organisations" translate="shared.organisations"></a></li>
	<li class="active" title="{{$ctrl.organisation.name}}" ng-bind="$ctrl.organisation.name|maxLength:50"></li>
	<li class="active" translate="organisation.reporting_thematics"></li>
</ol>

<div class="alert alert-info" translate="organisation.reporting_thematics_info"></div>

<div ng-repeat="thematic in $ctrl.organisation.thematics">
	<legend>{{thematic.name}}</legend>

	<p>{{thematic.description}}</p>

	<!-- markup is broken on purpose: do not fix -->
	<!-- If we put spaces between tags, margins break -->

	<div><div class="panel panel-default columns-panel"
		 ng-repeat="indicator in thematic.indicators|orderBy:'name'">

		<div class="panel-heading" title="{{indicator.name}}">{{indicator.name|maxLength:90}}</div>

		<div class="panel-body">
			<div ng-if="indicator.description">{{indicator.description|maxLength:200}}</div>
			<div ng-if="!indicator.description" translate="indicator.missing_description"></div>

			<div class="panel-buttons">
				<a ui-sref="main.organisation.reporting.indicator({thematicId: thematic.id, indicatorId: indicator.id})"
				   class="btn btn-xxs btn-default"
				   translate="indicator.see_report"></a>
			</div>
		</div>

	</div></div>
</div>
