
columns-panel {
    display: inline-block;
    vertical-align: top
}

@media (max-width: 800px) {
    columns-panel {
        display: block;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    columns-panel {
        width: 32%;
        margin-right: 1.5%;
    }

    columns-panel:nth-child(3n) {
        margin-right: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1200px) {
    columns-panel {
        width: 24%;
        margin-right: 1.33%;
    }

    columns-panel:nth-child(4n) {
        margin-right: 0;
    }
}


@media (min-width: 1200px) and (max-width: 1400px) {
    columns-panel {
        width: 19%;
        margin-right: 1.25%;
    }

    columns-panel:nth-child(5n) {
        margin-right: 0;
    }
}

@media (min-width: 1400px) {
    columns-panel {
        width: 16%;
        margin-right: 0.66%;
    }

    columns-panel:nth-child(6n) {
        margin-right: 0;
    }
}

columns-panel .panel-body {
    padding: 10px 10px 30px 10px;
    position: relative;
}

columns-panel .panel-body .panel-buttons {
    margin-top: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

columns-panel .panel-body .bl-info {
    display: block;
    margin-top: 5px;
    position: absolute;
    bottom: 12px;
    left: 10px;
}

columns-panel .handle {
    cursor: pointer;
    text-align: center !important;
    vertical-align: middle !important;
}
