<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="shared.reporting_general"></li>
</ol>

<project-query project="$ctrl.project" on-update="$ctrl.onQueryUpdate(query)">
</project-query>

{{$ctrl.query}}
<general-table project="$ctrl.project" query="$ctrl.query">
</general-table>