<table id="reporting" class="table table-bordered table-condensed">
	<thead>
		<tr>
			<th class="row-graph"></th>
			<th class="row-title" translate="shared.name"></th>
			<th class="row-dimension"></th>
			<th translate="project.baseline"></th>
			<th translate="project.target"></th>
			<th ng-repeat="col in $ctrl.columns track by col.id" title="{{col.title}}">
				{{col.name}}
			</th>
			<th translate="project.total"></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat-start="row in $ctrl.rows track by row.id" ng-if="row.type == 'title'"
			ng-click="$ctrl.onSectionToggle(row.id)">
			<td colspan="{{6 + $ctrl.columns.length}}">
				<fa-open value="$ctrl.sectionOpen[row.id]" class="noprint"></fa-open>
				<span ng-if="$ctrl.subtype">
					{{$ctrl.subtype|translate}}:
				</span>
				{{row.title}}
			</td>
		</tr>

		<tr ng-repeat-end ng-if="row.type == 'data'" project="$ctrl.project" tr-data="row" columns="$ctrl.columns"
			on-disagregate-clicked="$ctrl.onRowDisagregate(row.id, dimensionId, attribute)">
		</tr>
	</tbody>
</table>