<div ng-if="::!$ctrl.dataSource.entities.length">
    <span translate="project.form_is_not_associated_with_site"></span>
</div>

<div class="input-table-container" ng-if="::$ctrl.dataSource.entities.length">
    <table class="table table-bordered table-condensed">
        <tbody>
            <tr ng-repeat="date in $ctrl.visibleStatus track by $index">
                <td
                    title="{{::date|formatSlotRange:$ctrl.project.start:$ctrl.project.end}}"
                    ng-style="$ctrl.firstColStyle"
                >
                    <div class="bodyField">{{::date|formatSlot}}</div>
                </td>
                <td ng-repeat="site in ::$ctrl.sites track by site.id">
                    <div ng-switch="::$ctrl.inputsStatus[date][site.id]" class="bodyField">
                        <a
                            ng-switch-when="0"
                            ui-sref="project.usage.edit({dataSourceId: $ctrl.dataSource.id, period: date, siteId: site.id})"
                            class="btn btn-xs btn-primary"
                            translate="project.input_status.expected"
                        ></a>

                        <a
                            ng-switch-default
                            ui-sref="project.usage.edit({dataSourceId: $ctrl.dataSource.id, period: date, siteId: site.id})"
                            class="btn btn-xs btn-default"
                            translate="project.input_status.done"
                            translate-values="::{value: $ctrl.inputsStatus[date][site.id]}"
                        ></a>
                    </div>
                </td>
            </tr>
            <tr ng-hide="$ctrl.visibleStatus.length || $ctrl.loading">
                <td ng-style="$ctrl.firstColStyle">
                    <div class="bodyField">&nbsp;</div>
                </td>
                <td colspan="{{::$ctrl.sites.length}}">
                    <div class="bodyField" translate="project.no_inputs"></div>
                </td>
            </tr>
            <tr ng-show="$ctrl.loading">
                <td ng-style="$ctrl.firstColStyle">
                    <div class="bodyField">&nbsp;</div>
                </td>
                <td colspan="{{::$ctrl.sites.length}}">
                    <div class="bodyField" translate="shared.loading"></div>
                </td>
            </tr>
            <tr ng-show="$ctrl.hiddenStatus.length">
                <td ng-style="$ctrl.firstColStyle">
                    <div class="bodyField">&nbsp;</div>
                </td>
                <td colspan="{{::$ctrl.sites.length}}" style="text-align: center;">
                    <a
                        class="btn btn-default btn-xs"
                        ng-click="$ctrl.showMore()"
                        translate="project.show_more_inputs"
                    ></a>
                </td>
            </tr>
        </tbody>
        <thead ng-style="$ctrl.headerStyle">
            <tr>
                <th ng-style="$ctrl.firstColStyle">
                    <div class="headerField" translate="shared.date"></div>
                </th>
                <th ng-repeat="site in ::$ctrl.sites track by site.id">
                    <div class="headerField">
                        <div>{{::site.name}}</div>
                    </div>
                </th>
            </tr>
        </thead>
    </table>
</div>
