<table class="table-nocollapse">
    <thead>
        <tr>
            <th translate="shared.date"></th>
            <th ng-repeat="site in ::$ctrl.sites track by site.id">{{::site.name}}</th>
        </tr>
    </thead>
    <tbody
        infinite-scroll="$ctrl.loadMore()"
        infinite-scroll-distance="0.2"
        infinite-scroll-container="'project-input-list'"
        infinite-scroll-disabled="$ctrl.infiniteScrollDisabled"
    >
        <tr ng-repeat="period in $ctrl.loadedPeriods track by $index">
            <th title="{{::period|formatSlotRange:$ctrl.project.start:$ctrl.project.end}}">
                {{::period|formatSlot}}
            </th>
            <td
                ng-repeat="site in ::$ctrl.sites track by site.id"
                ng-switch="::$ctrl.inputsStatus[period][site.id] == 0"
            >
                <a
                    ng-switch-when="true"
                    ui-sref="project.usage.edit(::{dataSourceId: $ctrl.dataSource.id, period: period, siteId: site.id})"
                    class="btn btn-xs btn-primary"
                    translate="project.input_status.expected"
                ></a>

                <a
                    ng-switch-when="false"
                    ui-sref="project.usage.edit(::{dataSourceId: $ctrl.dataSource.id, period: period, siteId: site.id})"
                    class="btn btn-xs btn-default"
                    translate="project.input_status.done"
                    translate-values="::{value: $ctrl.inputsStatus[period][site.id]}"
                ></a>
            </td>
        </tr>
    </tbody>
</table>
