project-input-list {
    display: block;
    height: 100%;
    overflow: auto;

    // Table with no border collapsing, to enable sticky headers.
    table.table-nocollapse {
        border-collapse: separate;
        border-spacing: 0;
        margin: 0;

        tr {
            // Cells only have right and bottom borders.
            > td,
            > th {
                padding: 3px;
                border: 1px solid #ccc;
                border-top-width: 0;
                border-left-width: 0;
            }

            // First row also have top border.
            &:first-child > td,
            &:first-child > th {
                border-top-width: 1px;
            }

            // First column also have left borders.
            > th:first-child {
                border-left-width: 1px;
            }
        }
    }

    // Specific for this table
    table.table-nocollapse {
        min-width: 100%;

        thead {
            tr > th:first-child {
                z-index: 10;
            }

            tr > th {
                position: sticky;
                top: 0;
            }
        }

        tr {
            > th,
            > td {
                min-width: 100px;
                text-align: center;
                vertical-align: middle;
                background-color: white;

                > a {
                    display: block;
                    width: 100%;
                }
            }

            > th:first-child {
                min-width: 150px;
                position: sticky;
                left: 0;
            }
        }
    }
}
