<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.collection_form_list"></li>
</ol>

<div ng-sortable="$ctrl.dataSourceSortOptions">
	<columns-panel ng-repeat="dataSource in $ctrl.editableProject.forms" sortable="true" handle-class="ds-handle"
		variant="dataSource.active ? 'default' : 'dashed'">
		<pane-title>{{dataSource.name}}</pane-title>
		<pane-body>
			<div>
				<strong translate="project.periodicity"></strong>
				{{'project.periodicities.' + dataSource.periodicity|translate}}
			</div>
			<div>
				<strong translate="project.collection_site_list"></strong>
				<element-groups ids="dataSource.entities" items="$ctrl.project.entities" groups="$ctrl.project.groups">
				</element-groups>
			</div>
			<div>
				<strong translate="project.variables"></strong>
				<ul ng-sortable="$ctrl.variableSortOptions">
					<li ng-repeat="variable in dataSource.elements track by variable.id" class="clickable"
						ng-class="{disabled: !variable.active}">
						<i class="fa fa-sort fa-fw"></i>
						<span ng-bind="variable.name"></span>
					</li>
				</ul>
			</div>

			<div class="panel-buttons btn-group" uib-dropdown>
				<a class="btn btn-default btn-xxs" ng-if="dataSource.active"
					ui-sref="project.config.collection_form_edition({dataSourceId: dataSource.id})">
					<i class="fa fa-pencil"></i>
					<span translate="shared.edit"></span>
				</a>

				<a class="btn btn-default btn-xxs" ng-if="!dataSource.active"
					ng-click="$ctrl.onChangeStatusClicked(dataSource, true)">
					<i class="fa fa-play-circle-o"></i>
					<span translate="shared.enable"></span>
				</a>

				<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" uib-dropdown-menu>

					<li>
						<a ng-if="!dataSource.active"
							ui-sref="project.config.collection_form_edition({dataSourceId: dataSource.id})">
							<i class="fa fa-fw fa-pencil"></i>
							<span translate="shared.edit"></span>
						</a>
					</li>
					<li>
						<a ng-click="$ctrl.onChangeStatusClicked(dataSource, false)" ng-if="dataSource.active">
							<i class="fa fa-fw fa-pause-circle-o"></i>
							<span translate="shared.disable"></span>
						</a>
					</li>
					<li>
						<a href="{{::$root.serviceUrl}}/resources/project/{{$ctrl.editableProject._id}}/data-source/{{dataSource.id}}.pdf?orientation=portrait&language={{$root.language}}&token={{$root.accessToken}}"
							target="_blank">
							<i class="fa fa-fw fa-file-pdf-o"></i>
							<span translate="project.download_portrait"></span>
						</a>
					</li>
					<li>
						<a href="{{::$root.serviceUrl}}/resources/project/{{$ctrl.editableProject._id}}/data-source/{{dataSource.id}}.pdf?orientation=landscape&language={{$root.language}}&token={{$root.accessToken}}"
							target="_blank">
							<i class="fa fa-fw fa-file-pdf-o fa-rotate-270"></i>
							<span translate="project.download_landscape"></span>
						</a>
					</li>
					<li>
						<a ng-click="$ctrl.onDeleteClicked(dataSource)">
							<i class="fa fa-fw fa-trash text-danger"></i>
							<span class="text-danger" translate="shared.delete"></span>
						</a>
					</li>
				</ul>
			</div>
		</pane-body>
	</columns-panel>
</div>

<a class="btn btn-default" ng-click="$ctrl.onCreateClicked()">
	<i class="fa fa-plus"></i>
	<span translate="project.add_datasource"></span>
</a>