image-scroll {
    display: block;
    width: 100%;
    cursor: pointer;

    div {
        width: 100%;
        background-repeat: no-repeat;
        transition-duration: 0.3s;
        transition-property: none;
    }
}
