image-scroll {
    display: block;
    margin-bottom: 5px;
    width: 100%;

    /* stolen from img-thumbnail */
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;

    div {
        width: 100%;
        background-repeat: no-repeat;
        transition-duration: 0.3s;
        transition-property: none;
    }
}
