input-grid {
    /* work around wtHolder having very big values */
    /* @see https://github.com/handsontable/handsontable/issues/3013 */
    .wtHolder {
        width: auto !important;
        height: auto !important;
        overflow: hidden !important;
    }
}
