<div>
    <form class="form-horizontal" name="$ctrl.inputForm">
        <div class="form-section">
            <legend translate="project.general_informations"></legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" translate="project.collection_site"></label>
                <div class="col-sm-10 metadata">
                    <image-scroll
                        ng-if="$ctrl.mode != 'manual'"
                        upload="$ctrl.upload"
                        region="site"
                    ></image-scroll>

                    <select
                        class="form-control"
                        ng-options="site.id as site.name for site in $ctrl.sites"
                        ng-model="$ctrl.siteId"
                        ng-disabled="!$ctrl.metadataEditable"
                    ></select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" translate="project.covered_period"></label>
                <div class="col-sm-10 metadata">
                    <image-scroll
                        ng-if="$ctrl.mode != 'manual'"
                        upload="$ctrl.upload"
                        region="period"
                    ></image-scroll>
                    <select
                        class="form-control"
                        ng-options="slot as slot|formatSlot for slot in $ctrl.periods"
                        ng-model="$ctrl.period"
                        ng-disabled="!$ctrl.metadataEditable"
                    ></select>
                </div>
            </div>

            <div class="form-group" ng-if="$ctrl.mode == 'manual' && $ctrl.upload.body">
                <label class="col-sm-2 control-label" translate="project.upload_notes"></label>
                <div class="col-sm-10 metadata">
                    {{$ctrl.upload.body}}
                </div>
            </div>
        </div>

        <div class="form-section data-section">
            <legend>
                <div class="btn-group pull-right" ng-if="!$ctrl.metadataEditable">
                    <a ng-click="$ctrl.fillWithZeros()" class="btn btn-default btn-xs">
                        <i class="fa fa-pencil"></i>
                        {{'project.fill_with_zeros'|translate}}
                    </a>

                    <a
                        ng-if="$ctrl.previousInput"
                        ng-click="$ctrl.copy()"
                        class="btn btn-default btn-xs"
                    >
                        <i class="fa fa-clipboard"></i>
                        {{'project.fill_with_last_input'|translate}}
                    </a>
                </div>

                {{'project.data'|translate}}
            </legend>

            <button
                ng-if="$ctrl.metadataEditable"
                ng-disabled="!$ctrl.siteId || !$ctrl.period"
                ng-click="$ctrl.onMetadataSet()"
                class="btn btn-default"
            >
                Charger les données
            </button>

            <div
                class="form-group"
                ng-if="$ctrl.contentByVariableId"
                ng-repeat="variable in $ctrl.variables"
            >
                <label class="col-sm-2 control-label">{{variable.name}}</label>

                <div class="col-sm-10">
                    <image-scroll
                        ng-if="$ctrl.mode != 'manual'"
                        class="img-thumbnail"
                        upload="$ctrl.upload"
                        region="{{variable.id}}"
                    ></image-scroll>

                    <input-grid
                        variable="variable"
                        ng-model="$ctrl.contentByVariableId[variable.id].data"
                    ></input-grid>
                </div>
            </div>
        </div>
    </form>
</div>

<save-block
    is-valid="$ctrl.inputForm.$valid"
    is-changed="!$ctrl.isUnchanged"
    is-persisted="false"
    is-saving="$ctrl.inputSaving"
    on-save-clicked="$ctrl.save()"
    on-reset-clicked="$ctrl.reset()"
></save-block>
