<div>
    <form class="form-horizontal" name="$ctrl.inputForm">
        <div class="form-section">
            <legend translate="project.general_informations"></legend>

            <div class="form-group">
                <label class="col-sm-2 control-label" translate="project.collection_form"></label>
                <div class="col-sm-10 metadata">
                    <select
                        class="form-control"
                        ng-options="ds.id as ds.name for ds in ::$ctrl.project.forms"
                        ng-model="$ctrl.dataSourceId"
                        ng-disabled="!$ctrl.dataSourceEditable"
                    ></select>
                </div>
            </div>

            <div class="form-group" ng-if="!$ctrl.dataSourceEditable">
                <label class="col-sm-2 control-label" translate="project.collection_site"></label>
                <div class="col-sm-10 metadata">
                    <image-scroll
                        ng-if="$ctrl.upload.processed.regions.site"
                        upload="$ctrl.upload"
                        region="site"
                    ></image-scroll>

                    <select
                        class="form-control"
                        ng-options="site.id as site.name for site in $ctrl.sites"
                        ng-model="$ctrl.siteId"
                        ng-disabled="!$ctrl.metadataEditable"
                    ></select>
                </div>
            </div>

            <div class="form-group" ng-if="!$ctrl.dataSourceEditable">
                <label class="col-sm-2 control-label" translate="project.covered_period"></label>
                <div class="col-sm-10 metadata">
                    <image-scroll
                        ng-if="$ctrl.upload.processed.regions.period"
                        upload="$ctrl.upload"
                        region="period"
                    ></image-scroll>

                    <select
                        class="form-control"
                        ng-options="slot as slot|formatSlotLong for slot in $ctrl.periods"
                        ng-model="$ctrl.period"
                        ng-disabled="!$ctrl.metadataEditable"
                    ></select>
                </div>
            </div>

            <div class="form-group" ng-if="$ctrl.upload">
                <label class="col-sm-2 control-label" translate="project.original_file"></label>
                <div class="col-sm-10 metadata">
                    <a
                        target="_blank"
                        href="{{$root.serviceUrl}}/project/{{$ctrl.upload.projectId}}/upload/{{$ctrl.upload._id}}/original"
                    >
                        <img
                            class="img-thumbnail"
                            ng-src="{{$root.serviceUrl}}/project/{{$ctrl.upload.projectId}}/upload/{{$ctrl.upload._id}}/thumbnail"
                        />
                    </a>
                </div>
            </div>
        </div>

        <div class="form-section data-section">
            <legend>
                <div class="pull-right" ng-if="!$ctrl.metadataEditable" style="font-size: 12px;">
                    <span translate="project.prefill_with"></span>

                    <div class="btn-group">
                        <a ng-click="$ctrl.fillWithZeros()" class="btn btn-default btn-xs">
                            <i class="fa fa-pencil"></i>
                            <span translate="project.fill_with_zeros"></span>
                        </a>
                        <a ng-click="$ctrl.fillFromLast()" class="btn btn-default btn-xs">
                            <i class="fa fa-clipboard"></i>
                            <span translate="project.fill_from_last"></span>
                        </a>
                        <a ng-click="$ctrl.fillFromUpload()" class="btn btn-default btn-xs">
                            <i class="fa fa-upload"></i>
                            <span translate="project.fill_from_upload"></span>
                        </a>
                    </div>
                </div>

                <span translate="project.data"></span>
            </legend>

            <button
                ng-if="$ctrl.metadataEditable"
                ng-disabled="!$ctrl.siteId || !$ctrl.period"
                ng-click="$ctrl.onMetadataSet()"
                class="btn btn-default"
                translate="project.load_data"
            ></button>

            <div
                class="form-group"
                ng-if="$ctrl.contentByVariableId"
                ng-repeat="variable in ::$ctrl.variables track by variable.id"
            >
                <label class="col-sm-2 control-label">{{::variable.name}}</label>

                <div class="col-sm-10">
                    <image-scroll
                        ng-if="::$ctrl.upload && $ctrl.upload.processed.regions[variable.id]"
                        class="img-thumbnail"
                        upload="$ctrl.upload"
                        region="{{::variable.id}}"
                    ></image-scroll>

                    <input-grid
                        variable="::variable"
                        ng-model="$ctrl.contentByVariableId[variable.id].data"
                    ></input-grid>
                </div>
            </div>
        </div>
    </form>
</div>

<save-block
    is-valid="$ctrl.inputForm.$valid"
    is-changed="!$ctrl.isUnchanged"
    is-persisted="false"
    is-saving="$ctrl.inputSaving"
    on-save-clicked="$ctrl.save()"
    on-reset-clicked="$ctrl.reset()"
></save-block>
