project-input-edition {
    /* Global sizing */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% + 20px);
    margin: -10px -20px;

    > div {
        flex: 1;
        height: 100%;
        overflow: auto;
        padding: 10px 20px;
        overflow-x: auto;

        > form {
            max-width: 1000px;
            margin: auto;
            background-color: white;
            border: 1px solid #ccc;
            padding: 10px 20px;
            border-radius: 4px;
            min-width: 700px;
        }
    }

    .form-section {
        margin-bottom: 25px;
    }

    .data-section {
        .form-group {
            margin-bottom: 25px;
        }
    }

    /* general information */
    .metadata {
        display: flex;
        flex-direction: row;

        image-scroll {
            display: block;
            margin-right: 10px;
            width: 180px;
            padding: 0;
            border: none;
        }

        .form-control {
            flex: 1;
        }
    }
}
