log {
    display: block;
    height: 100%;
    overflow: auto;

    .table-bordered {
        border-collapse: separate; /* Don't collapse */
        border-spacing: 0;

        > thead > tr > th {
            position: sticky;
            top: 0;
            background-color: white;
        }

        > tbody > tr > td,
        > thead > tr > th {
            border-top-width: 0;
            border-left-width: 0;
        }

        > tbody > tr > td:last-child,
        > thead > tr > th:last-child {
            border-right-width: 0;
        }
    }
}
