<div class="auth-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-lock"></i>
                Set New Password
            </h3>
        </div>
        <div class="panel-body">
            <div ng-if="$ctrl.success" class="alert alert-success">
                <i class="fa fa-check-circle"></i>
                <strong>Password reset successful!</strong> 
                Your password has been updated. You can now sign in with your new password.
                <div style="margin-top: 15px;">
                    <a ng-click="$ctrl.goToLogin()" class="btn btn-success">
                        <i class="fa fa-sign-in"></i>
                        Sign In Now
                    </a>
                </div>
            </div>

            <div ng-if="!$ctrl.success">
                <p class="text-muted" style="margin-bottom: 20px;">
                    Please enter your new password below.
                </p>

                <div ng-if="$ctrl.error" class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle"></i>
                    {{$ctrl.error}}
                </div>

                <form ng-submit="$ctrl.resetPassword()" novalidate ng-if="$ctrl.token">
                    <div class="form-group">
                        <label for="password">New Password</label>
                        <input 
                            type="password" 
                            id="password" 
                            class="form-control" 
                            ng-model="$ctrl.form.password"
                            placeholder="Choose a strong password"
                            required
                            ng-disabled="$ctrl.loading"
                            autofocus>
                        
                        <div ng-if="$ctrl.form.password && $ctrl.getPasswordStrength()" class="password-strength">
                            <div class="strength-bar">
                                <div class="strength-fill" ng-class="'strength-' + $ctrl.getPasswordStrength().level"></div>
                            </div>
                            <span class="strength-text" ng-class="'text-' + $ctrl.getPasswordStrength().level">
                                {{$ctrl.getPasswordStrength().text}}
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="confirmPassword">Confirm New Password</label>
                        <input 
                            type="password" 
                            id="confirmPassword" 
                            class="form-control" 
                            ng-model="$ctrl.form.confirmPassword"
                            placeholder="Confirm your new password"
                            required
                            ng-disabled="$ctrl.loading">
                    </div>

                    <div class="form-group">
                        <button 
                            type="submit" 
                            class="btn btn-primary btn-block"
                            ng-disabled="$ctrl.loading">
                            <i ng-class="$ctrl.loading ? 'fa fa-spinner fa-spin' : 'fa fa-check'"></i>
                            {{$ctrl.loading ? 'Updating Password...' : 'Update Password'}}
                        </button>
                    </div>
                </form>

                <div class="auth-links">
                    <p>
                        <a ng-click="$ctrl.goToLogin()" href="#">
                            <i class="fa fa-arrow-left"></i>
                            Back to Sign In
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div> 