<ol class="breadcrumb noprint">
	<li><a ui-sref="projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.input"></li>
</ol>


<div class="project-content-inner">
	coucou
</div>

<div class="row">
	<div class="col-md-6">
		<legend>Résumé du projet</legend>
		<div class="project-content-inner">

			<dl>
				<dt>Nombre de cadres logiques</dt>
				<dd>344</dd>
				<dt>Nombre de saisies</dt>
				<dd>344</dd>
				<dt>Nombre de saisies</dt>
				<dd>344</dd>
				<dt>Nombre de saisies</dt>
				<dd>344</dd>
			</dl>
		</div>
	</div>

	<div class="col-md-6">
		<legend>Progression des saisies</legend>

		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th style="width: 50%" translate="shared.task"></th>
					<th translate="shared.state"></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="dataSource in $ctrl.project.forms track by dataSource.id"
					acl-has-input-form="dataSource.id" acl-project="$ctrl.project">
					<td>
						<span translate="project.input_fill_forms"
							translate-values="{numInputs: $ctrl.status[dataSource.id].total}"></span>
						<a class="btn btn-default btn-xs" title="{{dataSource.name}}"
							ui-sref="project.usage.list({dataSourceId: dataSource.id})">
							<i class="fa fa-pencil"></i>
							{{dataSource.name|maxLength:30}}
						</a>
					</td>
					<td translate="shared.loading" ng-if="!$ctrl.status"></td>

					<td ng-if="$ctrl.status">
						<progress-bar done="$ctrl.status[dataSource.id].complete"
							incomplete="$ctrl.status[dataSource.id].incomplete"></progress-bar>
					</td>
				</tr>
			</tbody>
		</table>

	</div>
</div>