
/* @media (min-width: 768px) { */

    project-columns {
        width: 100vw;
        height: 100vh;
    }

    project-columns .project-container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: row;
    }

    project-columns .project-container .project-menu {
        display: flex;
        flex-direction: column;
        width: 200px;
        height: 100vh;
        background-color: #eee;
        border-right: 1px solid #c0c0c0;
    }
    
    project-columns .project-container .project-menu .back {
        margin-bottom: 0;
    }
    
    project-columns .project-container .project-menu .panel-group {
        padding: 10px;
        overflow-y: auto;
        margin-bottom: 0;
        height: 100%;
    }
  
    project-columns .project-container .project-content {
        display: block;
        height: 100vh;
        width: calc(100vw - 230px);
        background-color: #fbfbfb;
    }
/* } */
