
@media (min-width: 768px) {
    .project-menu {
        position: fixed;
        width: 200px;
        top: 0;
        padding-top: 45px;
        padding-bottom: 10px;
        height: 100%;
    }
  
    .project-menu .panel-group {
        height: 100%;
        overflow-y: auto;
    }
  
    .project-content {
        margin-left: 220px;
    }
}
