
@media (min-width: 768px) {
    .project-columns {
        height: 100%;
    }

    .project-columns .project-menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 200px;
        top: 0;
        height: 100%;
        background-color: #eee;
        border-right: 1px solid #c0c0c0;
    }
    
    .project-columns .project-menu .back {
        margin-bottom: 0;
    }
    
    .project-columns .project-menu .panel-group {
        padding: 10px;
        overflow-y: auto;
        margin-bottom: 0;
    }
  
    .project-columns .project-content {
        background-color: white;
        height: 100%;
        padding: 10px 50px 10px 220px;
        margin: 0
    }
}
