<help-panel></help-panel>

<!-- 
    The project-container div is there to allow the blur filter to blur
    the whole thing, instead of the menu and content separately
 -->
<div class="project-container">
    <div class="project-menu">
        <div class="list-group back" ng-if="$ctrl.back">
            <a ui-sref="{{$ctrl.back}}" ui-sref-active="active" class="list-group-item">
                <i class="fa fa-arrow-left fa-fw"></i>
                <span translate="shared.back"></span>
            </a>
        </div>

        <div class="panel-group" ng-transclude="menus"></div>
    </div>

    <div class="project-content" ng-transclude="content">
    </div>
</div>