save-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 45px;
    border-top: 1px solid #ccc;
    padding: 10px 20px;
    background-color: #f6f6f6;
}
