<div>
    <a ng-disabled="!$ctrl.isChanged || !$ctrl.isValid || $ctrl.isSaving" ng-click="$ctrl.onSaveClicked()"
        class="btn btn-primary">
        <i class="fa fa-floppy-o" ng-if="!$ctrl.isSaving"></i>
        <i class="fa fa-circle-o-notch fa-spin" ng-if="$ctrl.isSaving"></i>

        <span translate="shared.save"></span>
    </a>

    <a ng-disabled="!$ctrl.isChanged || $ctrl.isSaving" ng-click="$ctrl.onResetClicked()" class="btn btn-default">
        <i class="fa fa-undo"></i>
        <span translate="shared.remove_changes"></span>
    </a>

</div>
<div>
    <p class="text-danger" ng-if="!$ctrl.isValid">
        <i class="fa fa-exclamation-triangle"></i>
        <span translate="project.form_error"></span>
    </p>

    <p class="text-info" ng-if="!$ctrl.isChanged && $ctrl.isPersisted">
        <i class="fa fa-info-circle"></i>
        <span translate="project.form_persisted"></span>
    </p>

    <p class="text-warning" ng-if="$ctrl.isChanged && $ctrl.isValid">
        <i class="fa fa-exclamation-triangle"></i>
        <span translate="project.form_changed"></span>
    </p>
</div>