<div class="centered" ng-if="!$ctrl.editableProject.extraIndicators.length">
	<span translate="project.no_extra_indicators"></span>
	<a ng-click="$ctrl.onAddIndicatorClick()" translate="project.add_indicator"></a>
</div>

<div ng-sortable="$ctrl.sortableOptions">
	<indicator ng-repeat="indicator in $ctrl.editableProject.extraIndicators" indicator="indicator"
		project="$ctrl.project" on-updated="$ctrl.onIndicatorUpdated(newIndicator, previousValue)"
		on-deleted="$ctrl.onIndicatorDeleted(indicator)"></indicator>
</div>

<div ng-if="ctrl.editableProject.extraIndicators.length">
	<a class="btn btn-default btn-sm" ng-click="$ctrl.onAddIndicatorClick()" style="margin-bottom: 20px">
		<i class="fa fa-plus"></i>
		{{"project.add_indicator"|translate}}
	</a>
</div>