<div class="row">
    <div class="clearfix visible-sm-block" ng-if="!$first && $index % 2 == 0"
        ng-repeat-start="file in $ctrl.files track by file.id"></div>
    <div class="clearfix visible-md-block" ng-if="!$first && $index % 3 == 0"></div>
    <div class="clearfix visible-lg-block" ng-if="!$first && $index % 4 == 0"></div>

    <div class="col-sm-6 col-md-4 col-lg-3" ng-repeat-end>
        <div class="thumbnail">
            <img ng-src="{{file.thumbnail}}" class="img-thumbnail" style="width: 100%" width="595" height="400">
            <div class="caption">
                <h3 style="margin-top: 5px;">{{file.category|translate}}</h3>
                <p>{{file.name}}</p>
                <div class="btn-group pull-right" uib-dropdown>
                    <a href="{{file.portrait}}" target="_blank" class="btn btn-default btn-xs">
                        <i class="fa fa-file-pdf-o"></i>
                        <span translate="project.portrait"></span>
                    </a>
                    <a class="btn btn-default btn-xs" uib-dropdown-toggle>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{file.landscape}}" target="_blank">
                                <i class="fa fa-file-pdf-o"></i>
                                <span translate="project.landscape"></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
    </div>
</div>