<input
    type="file"
    id="file-input"
    accept="{{::$ctrl.inputTypes}}"
    multiple
    ng-on-change="$ctrl.onInputChange($event)"
/>

<div
    ng-on-dragover="$ctrl.onDragOver($event)"
    ng-on-dragleave="$ctrl.onDragLeave($event)"
    ng-on-drop="$ctrl.onDrop($event)"
    ng-class="{highlight: $ctrl.highlight}"
>
    <p translate="input_uploads.drop_file_here"></p>
    <p style="font-size: 70%;" translate="input_uploads.drop_file_here_formats"></p>

    <div class="progress" ng-if="$ctrl.uploading">
        <div class="progress-bar" ng-style="{width: $ctrl.progressWidth}"></div>
    </div>
</div>
