dropzone {
    input[type='file'] {
        // Move input file off-screen.
        // Using "display: none" breaks functionality in Safari
        position: fixed;
        top: -100px;
    }

    > div {
        border: 1px dashed #666;
        border-radius: 5px;
        padding: 20px;
        text-align: center;
        font: 16pt bold;
        color: #666;
        margin-bottom: 20px;

        // ondragover (see controller)
        &.highlight {
            background-color: yellow;
        }

        // Avoid blinking for dragover/dragleave
        * {
            pointer-events: none;
        }

        label {
            pointer-events: auto;
            color: #66f;
            font-weight: normal;
            text-decoration: underline;
            cursor: pointer;
        }

        .progress {
            margin: auto;
            width: 50%;
        }
    }
}
