<div dropzone>Drop Files Here</div>

<div class="card-container">
    <div ng-repeat="upload in $ctrl.uploads" class="card thumbnail">
        <image
            class="img-thumbnail"
            ng-src="/api/project/{{upload.projectId}}/upload/{{upload._id}}/thumbnail"
        />

        <div class="caption">
            <b>Nom:</b>
            {{upload.original.name}}<br />

            <b>Date:</b>
            {{upload.createdAt}}

            <div ng-if="upload.status == 'pending_processing'">
                En attente de traitement
            </div>

            <div ng-if="upload.status == 'done'">
                This file was entered on X
            </div>

            <div ng-if="upload.status == 'failed'">
                Le traitement à échoué: {{upload.reason}}
            </div>

            <a
                class="btn btn-default pull-right btn-xs"
                ng-disabled="upload.status != 'pending_dataentry'"
                ui-sref="project.usage.data_entry({uploadId: upload._id})"
                >Saisir</a
            >
        </div>
    </div>
</div>
