<div dropzone>Drop Files Here</div>

<div
    ng-repeat="upload in $ctrl.uploads"
    class="thumbnail"
    style="width: 200px; margin-right: 10px; display: inline-block;"
>
    <image-scroll upload="upload"></image-scroll>
    <div class="caption">
        <b>Site:</b><br />
        <image-scroll upload="upload" region="site"></image-scroll>
        <b>Periode:</b><br />
        <image-scroll upload="upload" region="period"></image-scroll>
        <br />
        <a
            class="btn btn-default pull-right btn-xs"
            ui-sref="project.usage.data_entry({uploadId: upload._id})"
            >Saisir</a
        >
    </div>
</div>
