<dropzone project="::$ctrl.project"></dropzone>

<legend translate="input_uploads.waiting_dataentry">En attente de saisie</legend>

<p ng-if="$ctrl.uploads.length == 0" translate="input_uploads.waiting_dataentry_none"></p>

<div class="card-container">
    <upload
        ng-repeat="upload in $ctrl.uploads track by upload._id"
        upload="upload"
        on-delete="$ctrl.deleteUpload(upload, $ctrl.uploads)"
    ></upload>
</div>

<legend translate="input_uploads.history"></legend>

<p
    ng-if="$ctrl.history.length == 0 && !$ctrl.hasMoreHistory"
    translate="input_uploads.history_none"
></p>

<a
    class="btn btn-default"
    ng-if="$ctrl.history.length == 0 && $ctrl.hasMoreHistory"
    ng-click="$ctrl.loadMore()"
    translate="input_uploads.history_load"
></a>

<div class="card-container">
    <upload
        ng-repeat="upload in $ctrl.history track by upload._id"
        upload="upload"
        on-delete="$ctrl.deleteUpload(upload, $ctrl.history)"
    ></upload>
</div>

<a
    class="btn btn-default"
    ng-if="$ctrl.history.length > 0 && $ctrl.hasMoreHistory"
    ng-click="$ctrl.loadMore()"
    translate="input_uploads.history_load_more"
></a>
