project-input-uploads {
    div[dropzone] {
        border: 2px dashed #bbb;
        border-radius: 5px;
        padding: 25px;
        text-align: center;
        font: 20pt bold;
        color: #bbb;
        margin-bottom: 20px;
    }

    .card-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 10px;

        .thumbnail {
            margin-bottom: 0;
        }

        img {
            width: 100%;
        }
    }
}
