<div ng-switch="$ctrl.upload.thumbnail">
    <div ng-switch-when="undefined" class="img-thumbnail loading-img">
        <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>

    <a
        ng-switch-default
        href="/api/project/{{::$ctrl.upload.projectId}}/upload/{{::$ctrl.upload._id}}/original"
        target="_blank"
    >
        <img
            class="img-thumbnail"
            ng-src="/api/project/{{::$ctrl.upload.projectId}}/upload/{{::$ctrl.upload._id}}/thumbnail"
        />
    </a>
</div>

<div class="caption">
    {{::$ctrl.upload.original.name}}

    <div ng-switch="$ctrl.upload.status">
        <div ng-switch-when="failed" class="text-danger">
            <i class="fa fa-fw fa-warning"></i>
            <span translate="project.processing_failed"></span>
        </div>

        <span ng-switch-when="pending_processing" class="btn btn-default btn-xxs disabled">
            <i class="fa fa-circle-o-notch fa-spin"></i>
            <span translate="project.processing"></span>
        </span>

        <a
            ng-switch-when="pending_dataentry|done"
            ng-switch-when-separator="|"
            class="btn btn-default btn-xxs"
            ui-sref="project.usage.data_entry({uploadId: $ctrl.upload._id})"
        >
            <i class="fa fa-pencil"></i>
            <span translate="project.input_status.expected"></span>
        </a>

        <a ng-switch-when="failed" class="btn btn-danger btn-xxs" ng-click="$ctrl.onDelete()">
            <i class="fa fa-trash"></i>
            <span translate="shared.delete"></span>
        </a>
    </div>
</div>
