upload {
    display: block;

    margin-bottom: 0;
    padding-bottom: 20px !important;
    position: relative;
    word-wrap: break-word;

    img {
        width: 100%;
    }

    .loading-img {
        width: 100%;
        padding-top: 66.66666%;
        position: relative;

        i {
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -5px;
            margin-top: -5px;
        }
    }

    .caption {
        > .btn-group,
        > .btn {
            position: absolute;
            right: 5px;
            bottom: 5px;
        }
    }

    &.failed {
        border-color: #f66;
        background-color: #fee;
        border-style: dashed;
    }
}
