<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.link"></li>
</ol>


Cette section vous permet de lier votre projet à une ou plusieurs organisations dont vous êtes membres.<br/>

Lorsque vous liez un projet à une organisation, ce projet, ainsi que toutes ses données devient visibles pour tous les membres de l'organisation<br/>

Ceci permet également à votre projet de participer au monitoring transversal des organisations auquelles vous le liez.

Par exemple, sur un projet en consortium, il est possible de l'ajouter aux organisations des différentes ONGs participant au projet, ainsi qu'à celles des bailleurs.
