
<div class="project-columns">
	<div class="project-menu">
		<div class="panel-group">

			<div class="panel panel-default">
				<div class="panel-heading">
					<i class="fa fa-caret-up pull-right"></i>
					<h4 class="panel-title" translate="organisation.structure"></h4>
				</div>

				<div class="panel-collapse">
					<div class="list-group">

						<a ui-sref="main.organisation.structure.home"
						   ui-sref-active="active"
						   class="list-group-item">

							<i class="fa fa-home fa-fw"></i>
							<span translate="shared.home"></span>
						</a>

						<a ui-sref="main.organisation.structure.basics"
						   ui-sref-active="active"
						   class="list-group-item">

							<i class="fa fa-object-group fa-fw"></i>
							<span translate="organisation.basics"></span>
						</a>

						<a ui-sref="main.organisation.structure.invitations"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.organisation._rev">

							<i class="fa fa-user fa-fw"></i>
							<span translate="organisation.invitations"></span>
						</a>

						<a ui-sref="main.organisation.structure.thematics"
						   ui-sref-active="active"
						   class="list-group-item"
						   disable-if="!$ctrl.organisation._rev">

							<i class="fa fa-user fa-fw"></i>
							<span translate="organisation.thematics"></span>
						</a>

					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading clickable" ui-sref="main.organisation.reporting.home" disable-if="!$ctrl.organisation._rev">
					<i class="fa fa-caret-down pull-right"></i>
					<h4 class="panel-title" translate="shared.reporting"></h4>
				</div>
			</div>

		</div>
	</div>

	<div class="project-content">
		<div>
			<div id="formblock">
				<!--
					<ui-view /> will be replaced by any of the project-structure-* components
					which all take the same input/output bindings.
				-->

				<ui-view
					organisation="$ctrl.organisation"
					on-organisation-update="$ctrl.onOrganisationUpdate(newOrganisation, isValid)"></ui-view>
			</div>

			<div id="saveblock" class="noprint">

				<div class="pull-right">
					<p class="text-danger" ng-if="!$ctrl.organisationIsValid">
						<i class="fa fa-exclamation-triangle"></i>
						<span translate="organisation.form_error"></span>
					</p>

					<p class="text-info" ng-if="!$ctrl.organisationChanged && $ctrl.organisation._rev">
						<i class="fa fa-info-circle"></i>
						<span translate="organisation.form_persisted"></span>
					</p>

					<p class="text-warning" ng-if="$ctrl.organisationChanged && $ctrl.organisationIsValid">
						<i class="fa fa-exclamation-triangle"></i>
						<span translate="organisation.form_changed"></span>
					</p>
				</div>

				<a	ng-disabled="!$ctrl.organisationChanged || !$ctrl.organisationIsValid || $ctrl.organisationSaveRunning"
					ng-click="$ctrl.onSaveClicked()"
					class="btn btn-primary">
					<i class="fa fa-floppy-o" ng-if="!$ctrl.organisationSaveRunning"></i>
					<i class="fa fa-circle-o-notch fa-spin" ng-if="$ctrl.organisationSaveRunning"></i>

					<span translate="shared.save"></span>
				</a>

				<a	ng-disabled="!$ctrl.organisationChanged || $ctrl.organisationSaveRunning"
					ng-click="$ctrl.onResetClicked()"
					class="btn btn-default">
					<i class="fa fa-undo"></i>
					<span translate="shared.remove_changes"></span>
				</a>

			</div>
		</div>

	</div>
</div>








