/** While moving indicators */
.dragging logical-frame-edit {
    /** Hide as much things as possible */
    form-group,
    columns-panel .panel-body,
    .btn,
    .help-block,
    .control-label,
    .hide-on-drag {
        display: none;
    }

    .col-sm-10 {
        width: 100% !important;
    }

    form-group[label='shared.indicators'] {
        display: block;
    }
}
