<legend>Please log in</legend>

<p class="text-danger">{{$ctrl.errorMessage}}</p>

<div class="form-group">
	<label for="username" class="col-sm-2 control-label">Email</label>
	<div class="col-sm-10">
		<input type="text" ng-model="$ctrl.email" class="form-control" placeholder="Email" ng-change="$ctrl.onEmailChange()">
	</div>

	<div class="form-group">
		<label for="password" class="col-sm-2 control-label">Password</label>
		<div class="col-sm-10">
			<input type="password" ng-model="$ctrl.password" class="form-control" name="password" placeholder="Password">
		</div>
	</div>

	<button ng-click="$ctrl.onLoginClicked()" class="btn btn-primary btn-block">Connect</button>
</div>
