<ol class="breadcrumb noprint">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.invitations"></li>
</ol>

<div class="centered" ng-if="!$ctrl.invitations.length">
	<span translate="project.no_invitations_yet"></span>
	<span>
		<a class="btn btn-default" ng-click="$ctrl.onEditClicked()">
			<i class="fa fa-plus"></i>
			<span translate="project.add_invitation"></span>
		</a>
	</span>
</div>

<div ng-if="$ctrl.invitations.length">
	<columns-panel ng-repeat="invitation in $ctrl.invitations">
		<pane-title>{{invitation.email}}</pane-title>
		<pane-body>
			<div>
				<strong translate="project.invitation_role"></strong>
				{{('project.invitation_roles.' + invitation.role)|translate}}
			</div>
			<div ng-if="invitation.role == 'input'">
				<strong translate="project.collection_site_list"></strong>
				<element-groups ids="invitation.entities" items="$ctrl.project.entities" groups="$ctrl.project.groups">
				</element-groups>
			</div>
			<div ng-if="invitation.role == 'input'">
				<strong translate="project.collection_form_list"></strong>
				<element-groups ids="invitation.dataSources" items="$ctrl.project.forms" groups="[]"></element-groups>
			</div>

			<div class="panel-buttons btn-group">
				<a ng-click="$ctrl.onEditClicked(invitation)" class="btn btn-default btn-xxs">
					<i class="fa fa-pencil"></i>
					<span translate="shared.edit"></span>
				</a>

				<div class="btn-group" uib-dropdown>
					<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu" uib-dropdown-menu>
						<li>
							<a ng-click="$ctrl.onDeleteClicked(invitation)">
								<i class="fa fa-trash text-danger"></i>
								<span class="text-danger" translate="shared.delete"></span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</pane-body>
	</columns-panel>

	<a class="btn btn-default" ng-click="$ctrl.onEditClicked()">
		<i class="fa fa-plus"></i>
		<span translate="project.add_invitation"></span>
	</a>
</div>