<div class="centered" ng-if="!$ctrl.invitations.length">
	<span translate="project.no_invitations_yet"></span>
	<a ng-click="$ctrl.onEditClicked()" translate="project.add_invitation"></a>
</div>

<columns-panel ng-repeat="invitation in $ctrl.invitations">
	<pane-title>{{invitation.email}}</pane-title>
	<pane-body>
		<div>
			<strong>Invitation acceptée:</strong>
			{{invitation.accepted}}
		</div>

		<strong>Autorisations de saisie:</strong>

		<div>
			Lieux de collecte:
			<element-groups ids="invitation.dataEntry.siteIds" items="$ctrl.project.entities"
				groups="$ctrl.project.groups">
			</element-groups>
		</div>

		<div>
			Sources de données:
			<element-groups ids="invitation.dataEntry.dataSourceIds" items="$ctrl.project.forms">
			</element-groups>
		</div>

		<div class="panel-buttons btn-group">
			<a ng-click="$ctrl.onEditClicked(invitation)" class="btn btn-default btn-xxs">
				<i class="fa fa-pencil"></i>
				<span translate="shared.edit"></span>
			</a>

			<div class="btn-group" uib-dropdown>
				<a class="btn btn-default btn-xxs" uib-dropdown-toggle>
					<span class="caret"></span>
				</a>

				<ul class="dropdown-menu" uib-dropdown-menu>
					<li>
						<a ng-click="$ctrl.onDeleteClicked(invitation)">
							<i class="fa fa-trash text-danger"></i>
							<span class="text-danger" translate="shared.delete"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</pane-body>
</columns-panel>

<div ng-if="$ctrl.invitations.length">
	<a class="btn btn-default" ng-click="$ctrl.onEditClicked()">
		<i class="fa fa-plus"></i>
		<span translate="project.add_invitation"></span>
	</a>
</div>