
general-table {
    display: block;
    overflow: auto;
    flex: 1;
    border: 0 solid #ccc;
    border-top-width: 1px;
}
  
general-table table {
    overflow: hidden;
    border-collapse: separate !important;
    border-spacing: 0px !important;
    border-width: 0 !important;
}
  
general-table table td, general-table table th {
    border-top-width: 0 !important;
    border-left-width: 0 !important;
    background-color: white;
}
  
general-table table td:first-child, general-table table th:first-child {
    border-left-width: 1px !important;
}

#reporting {
    width: auto;
    min-width: 100%;
    table-layout: fixed;
  }
  
  #reporting .row-graph {
    width: 30px;
    text-align: center;
  }
  
  #reporting .row-title {
    width: 300px;
    border-right-color: white;
  }
  
  #reporting .row-title div {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  #reporting .indent1 .row-title div, #reporting .indent1 .row-header-title div {
    padding-left: 20px !important;
  }
  
  #reporting .indent2 .row-title div, #reporting .indent2 .row-header-title div {
    padding-left: 40px !important;
  }
  #reporting .indent3 .row-title div, #reporting .indent3 .row-header-title div {
    padding-left: 60px !important;
  }
  
  #reporting .indent4 .row-title div, #reporting .indent4 .row-header-title div {
    padding-left: 80px !important;
  }
  
  #reporting .indent5 .row-title div, #reporting .indent5 .row-header-title div {
    padding-left: 100px !important;
  }
  
  #reporting .indent6 .row-title div, #reporting .indent6 .row-header-title div {
    padding-left: 120px !important;
  }
  
  #reporting .row-dimension {
    width: 30px;
    border-left-color: white;
  }
  