<ol class="breadcrumb">
	<li><a ui-sref="projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="shared.reporting_general"></li>
</ol>

<project-query project="$ctrl.project" on-update="$ctrl.onQueryUpdate(query)">
</project-query>

<reporting-graph ng-if="$ctrl.plotData.ys.length > 0" x="$ctrl.plotData.x" ys="$ctrl.plotData.ys"
	presentation="$ctrl.plotData.presentation">
</reporting-graph>

<general-table project="$ctrl.project" query="$ctrl.query" on-plot-change="$ctrl.onPlotChange(plotData)">
</general-table>