<form-group input-id="start-date" label="shared.start">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <utc-datepicker
            input-id="start-date"
            ng-model="$ctrl.startDate"
            min-date="$ctrl.project.start"
            max-date="$ctrl.endDate"
            ng-change="$ctrl.onFilterChange()"
        >
        </utc-datepicker>
    </div>
</form-group>

<form-group input-id="end-date" label="shared.end">
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
        <utc-datepicker
            input-id="end-date"
            ng-model="$ctrl.endDate"
            min-date="$ctrl.startDate"
            max-date="$ctrl.project.end"
            ng-change="$ctrl.onFilterChange()"
        >
        </utc-datepicker>
    </div>
</form-group>
