tr[tr-data] {
    td.empty {
        background-color: #eee;

        > span {
            display: none;
        }
    }

    &:hover {
        color: darkblue;
    }

    .fa-line-chart {
        color: #ccc;
        cursor: pointer;

        &:hover {
            color: #555;
        }
    }

    .row-baseline,
    .row-target {
        background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #f0f0f0 3px, #f0f0f0 6px);
    }

    .error-td {
        background-color: rgb(238, 238, 238);
    }
}
