
tr[tr-data] td.empty {
    background-color: #eee;
}
  
tr[tr-data] td.empty > span {
    display: none;
}

tr[tr-data]:hover {
    color: darkblue
}

tr[tr-data] .fa-line-chart {
    color: #ccc;
    cursor: pointer;
}

tr[tr-data] .fa-line-chart:hover {
    color: #555;
}

tr[tr-data] .row-baseline, tr[tr-data] .row-target {
    background: repeating-linear-gradient(-45deg, #fff, #fff 3px, #f0f0f0 3px, #f0f0f0 6px);
}

tr[tr-data] .error-td {
    background-color: rgb(238, 238, 238);
}
