<div class="modal-body">
    <div style="position: relative; padding-bottom: calc(53.91666666666667% + 41px); height: 0; width: 100%;"><iframe src="https://demo.arcade.software/Rbxar0CnRhl5cZdxrWkE?embed&show_copy_link=true" title="Basic Navigation" frameborder="0" loading="lazy" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="clipboard-write" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;color-scheme: light;"></iframe></div>
</div>
<div class="modal-footer">
    <a ng-click="$ctrl.dismiss()" class="btn btn-primary btn-lg" translate="welcome.i_got_it"></a>
</div>
