
project-list {
  display: block;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px 20px;
}

project-list .filter-text {
    margin-bottom: 10px;
}

project-list .filter-toggles {
    margin-bottom: 10px;
}

project-list .create-button {
    float: right;
}


project-list pane-title i.fa {
  margin-top: 3px;
}

project-list pane-title i.fa.fa-star, project-list pane-title i.fa.fa-star-o {
  cursor: pointer
}
  
.profile-img { width: 16px; height: 16px; border-radius: 8px; }

