<project-columns back="main.projects">
    <menus>
        <div class="list-group">
            <a ui-sref="project.usage.home" ui-sref-active="active" class="list-group-item">
                <i class="fa fa-home fa-fw"></i>
                <span translate="shared.home"></span>
            </a>
            <a ui-sref="project.usage.downloads" ui-sref-active="active" class="list-group-item">
                <i class="fa fa-download fa-fw"></i>
                <span translate="project.downloads"></span>
            </a>
        </div>

        <div class="panel panel-default" ng-if="$ctrl.activeDataSources.length != 0">
            <div class="panel-heading">
                <h4 class="panel-title" translate="project.input"></h4>
            </div>

            <div class="panel-collapse">
                <div class="list-group">
                    <a
                        ng-repeat="dataSource in $ctrl.activeDataSources"
                        ui-sref="project.usage.list({dataSourceId: dataSource.id})"
                        ng-class="{active: ($ctrl.$state.is('project.usage.list') || $ctrl.$state.is('project.usage.edit')) && $ctrl.$stateParams.dataSourceId == dataSource.id}"
                        class="list-group-item"
                        title="{{dataSource.name}}"
                        style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden;"
                    >
                        <i class="fa fa-pencil fa-fw"></i>
                        <span>{{dataSource.name}}</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title" translate="shared.reporting"></h4>
            </div>

            <div class="panel-collapse">
                <div class="list-group">
                    <a
                        ui-sref="project.usage.general"
                        ui-sref-active="active"
                        class="list-group-item"
                    >
                        <i class="fa fa-line-chart fa-fw"></i>
                        <span translate="shared.reporting_general"></span>
                    </a>

                    <a ui-sref="project.usage.olap" ui-sref-active="active" class="list-group-item">
                        <i class="fa fa-table fa-fw"></i>
                        <span translate="project.pivot_table"></span>
                    </a>
                </div>
            </div>
        </div>
    </menus>
    <content ui-view project="$ctrl.project"></content>
</project-columns>
