<div class="modal-body">
	<form class="form-horizontal" role="form" name="invitationForm" novalidate autocomplete="off">
		<a ng-click="$ctrl.dismiss()" class="pull-right" style="cursor: pointer">
			<i class="fa fa-times"></i>
		</a>
		<legend translate="invitation.contact"></legend>

		<form-group input-id="login-input" label="invitation.email" help="invitation.help_email">
			<input id="login-input" type="text" ng-model="$ctrl.invitation.email" class="form-control" ng-minlength="4"
				ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" forbidden-values="$ctrl.takenEmails"
				required ng-disabled="!$ctrl.isNew">
		</form-group>

		<legend translate="invitation.data_entry_perms"></legend>

		<form-group input-id="entities-input" label="project.collection_site_list" help="invitation.help_sites">
			<element-filter ng-model="$ctrl.invitation.dataEntry.siteIds" elements="$ctrl.entities"
				groups="$ctrl.groups">
			</element-filter>
		</form-group>

		<form-group input-id="dataSources-input" label="project.collection_form_list"
			help="invitation.help_datasources">
			<element-filter ng-model="$ctrl.invitation.dataEntry.dataSourceIds" elements="$ctrl.dataSources">
			</element-filter>
		</form-group>
	</form>
</div>

<div class="modal-footer">
	<div style="float: left">
		<p class="text-danger" ng-if="invitationForm.$invalid">
			<i class="fa fa-exclamation-triangle"></i>
			<span translate="project.form_error_short"></span>
		</p>

		<p class="text-info" ng-if="!$ctrl.hasChanged() && !$ctrl.isNew">
			<i class="fa fa-info-circle"></i>
			<span translate="project.form_persisted_short"></span>
		</p>

		<p class="text-warning" ng-if="$ctrl.hasChanged() && !invitationForm.$invalid">
			<i class="fa fa-exclamation-triangle"></i>
			<span translate="project.form_changed_short"></span>
		</p>
	</div>

	<button ng-click="$ctrl.done()" ng-disabled="invitationForm.$invalid || !$ctrl.hasChanged()"
		class="btn btn-primary">
		<i class="fa fa-object-group"></i>
		<span ng-if="$ctrl.isNew" translate="invitation.create_invitation"></span>
		<span ng-if="!$ctrl.isNew" translate="invitation.update_invitation"></span>
	</button>

	<button ng-click="$ctrl.reset()" ng-disabled="!$ctrl.hasChanged()" class="btn btn-default">
		<i class="fa fa-undo"></i>
		<span translate="shared.remove_changes"></span>
	</button>
</div>