/** AngularJS forms */
td.ng-invalid {
    background-color: #faa;
}

.form-control.ng-invalid.ng-touched {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

textarea {
    /* we autosize textareas with a directive */
    resize: none;
}

/** ng-sortable */
.fa-sort,
.fa-arrows {
    cursor: pointer;
}

ul[ng-sortable] {
    padding-left: 3px;
    list-style-type: none;

    li * {
        cursor: pointer;
    }
}

.sortable-ghost {
    opacity: 0.3;
}

.dragging .drag-destination {
    min-height: 25px;
}

.handle {
    text-align: center !important;
    vertical-align: middle !important;
}

/** Unsorted mess */
html,
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #ccc;
    font-size: 12px;
}

ul {
    padding-left: 20px;
}

query-aggregate,
query-computation,
indicator-filter .panel,
olap-dimensions .panel {
    display: block;
    margin-bottom: 5px;
}

general-reporting,
olap-reporting {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.table {
    background-color: white;
}

.project-content-inner {
    /*
     * This class should be renamed, it is used everywhere
     * Unrelated to being the actual div inside 'project-content'.
     */
    background-color: white;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.input-group .form-control {
    min-height: 25px;
}
