
html, body {
    height: 100%;
}

/* make bootstrap smaller */

body {
  background-color: #fbfbfb;
  font-size: 12px;
}

td.ng-invalid {
  background-color: #faa;
}

.form-control {
  font-size: 12px;
  padding: 3px 6px;
  height: 24px;
}

.form-group {
  margin-bottom: 8px;
}

.form-horizontal .control-label {
  padding-top: 3px;
}

p {
  margin: 0 0 5px;
}

.panel {
  margin-bottom: 10px;
}
.panel-title {
  font-size: 13px;
}

tr[tr-data]:hover {
  color: darkblue
}

.btn {
  padding: 3px 6px;
  font-size: 12px;
}

.btn-sm {
  padding: 2px 5px;
}

.btn-xs {
  padding: 0px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
}

legend {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-group-addon {
  padding: 3px 6px;
  font-size: 12px;
}

label {
  margin-bottom: 0;
}

.nav>li>a {
  padding: 5px 10px;
}
.navbar {
  min-height: 30px;
}

.panel-heading {
  padding: 5px 8px;
}

.form-control-static {
  padding-top: 2px;
  padding-bottom: 2px;
}

.breadcrumb {
  padding: 5px 10px;
  margin-bottom: 10px
}

.list-group-item {
  padding: 5px 10px;
}

h4 {
  font-size: 16px;
}

.dropdown-menu {
  min-width: 100px;
  font-size: 12px;
  padding: 2px 0;
}

.dropdown-menu>li>a {
  padding: 3px 10px;
}

.table {
  margin-bottom: 10px;
}
.table-condensed>tbody>tr>td {
  padding: 3px;
}

.input-sm {
  height: 24px;
  padding: 3px 5px;
  font-size: 12px;
}

select.input-sm {
  height: 24px;
  line-height: 24px;
}

.alert {
  padding: 8px;
  margin-bottom: 10px;
}

ol, ul {
  margin-bottom: 5px;
}

/* we autosize textareas with a directive */

textarea {
	resize: none;
}

.invert.input-group .form-control {
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-group-btn.square button {
	border-radius: 0;
	border-right-width: 0;
}



.clickable {
  cursor: pointer;
}

.nonclickable {
  cursor: not-allowed;
}


      .panel-collapse>.list-group .list-group-item:first-child {border-top-right-radius: 0;border-top-left-radius: 0;}
      .panel-collapse>.list-group .list-group-item {border-width: 1px 0;}
      .panel-collapse>.list-group {margin-bottom: 0;}
      .panel-collapse .list-group-item {border-radius:0;}

      .panel-collapse .list-group .list-group {margin: 0;margin-top: 10px;}
      .panel-collapse .list-group-item li.list-group-item {margin: 0 -15px;border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item:last-child {padding-bottom: 0;}

      .panel-collapse div.list-group div.list-group{margin: 0;}
      .panel-collapse div.list-group .list-group a.list-group-item {border-top: 1px solid #ddd !important;border-bottom: 0;padding-left: 30px;}
      .panel-collapse .list-group-item li.list-group-item {border-top: 1px solid #DDD !important;}

.print { display: none;}
.main-content { padding-top: 45px; }

@media print {
  .print { display: block; }
  .noprint { display: none; }
  .print-only { display: block !important; }
  .print-full-width { width: 100% !important; }

  .main-content { padding-top: 0; }
  .c3-tooltip-container { display: none !important; }


  .htNumeric {
    color:white !important;
    font-size: 0;

  }

}

.form-control.ng-invalid.ng-touched {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control-static {
  min-height: 22px;
 }

 ul {
  padding-left: 20px;
}


  .btn-group-xxs>.btn, .btn-xxs {
    padding: 1px 5px;
    font-size: 10px;
    line-height: 1.3;
    border-radius: 3px;
}


.handle {
  text-align: center !important;
  vertical-align: middle !important;
}

ul[ng-sortable] {
  padding-left: 3px;
  list-style-type: none;
}

.dragging .drag-destination {
  min-height: 25px;
}




ul[ng-sortable] i.fa.fa-bars {
  padding-right: 3px;
}

ul[ng-sortable] li *, i.fa.fa-bars {
  cursor: pointer;
}

.sortable-ghost {
  opacity: .3;
}

.sortable-label-list {
  padding: 0 2px;
}


.navbar-toggle {
  padding: 4px;
  margin: 3px;
}



.columns-panel {
  display: inline-block;
  vertical-align: top
}


@media (max-width: 800px) {
  .columns-panel {
    display: block;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .columns-panel {
    width: 32%;
    margin-right: 1.5%;
  }

  .columns-panel:nth-child(3n) {
    margin-right: 0;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  .columns-panel {
    width: 24%;
    margin-right: 1.33%;
  }

  .columns-panel:nth-child(4n) {
    margin-right: 0;
  }
}


@media (min-width: 1200px) and (max-width: 1400px) {
  .columns-panel {
    width: 19%;
    margin-right: 1.25%;
  }

  .columns-panel:nth-child(5n) {
    margin-right: 0;
  }
}

@media (min-width: 1400px) {
  .columns-panel {
    width: 16%;
    margin-right: 0.66%;
  }

  .columns-panel:nth-child(6n) {
    margin-right: 0;
  }
}



.columns-panel .panel-body {
  padding: 10px 10px 30px 10px;
  position: relative;
}

.columns-panel .panel-body .panel-buttons {
  margin-top: 5px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.columns-panel .panel-body .bl-info {
  display: block;
  margin-top: 5px;
  position: absolute;
  bottom: 12px;
  left: 10px;
}




.fa-sort {
  cursor: pointer;
}



  .modal-header {
    padding: 7px 15px;
  }

  .modal-header h3 {
    font-size: 18px;
  }


  #formblock {
    margin-bottom: 60px;
  }


.fa-thumb-tack, #reporting .fa-line-chart {
  color: #ccc;
  cursor: pointer;
}
.fa-thumb-tack:hover, #reporting .fa-line-chart:hover {
  color: #555;
}




  query-aggregate,
  query-computation,
  indicator-filter .panel,
  olap-dimensions .panel

  {
    display: block;
    margin-bottom: 5px;
  }







general-reporting, olap-reporting {
  display: flex;
  height: 100vh;
  flex-direction: column;
  margin-top: -50px;
  padding-top: 50px;
  padding-bottom: 10px
}


@media (min-width: 768px) {
  .project-menu {
    position: fixed;
    width: 200px;
    top: 0;
    padding-top: 45px;
    padding-bottom: 10px;
    height: 100%;
  }

  .project-menu .panel-group {
    height: 100%;
    overflow-y: auto;
  }

  .project-content {
    margin-left: 220px;
  }
}






.table {
  background-color: white;
}


/*
 * This class should be renamed, it is used everywhere
 * Unrelated to being the actual div inside 'project-content'.
 */

.project-content-inner {
  background-color: white;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
}



dd {
  margin-bottom: 5px;
}