<div class="project-content-inner">
    <p>
        Cette section va vous aider à formaliser votre projet. Elle doit être utilisé pendant la
        phase de programmation du projet, puis révisée pendant la phase d'implantation du projet.
    </p>
    <p>
        Aidez-vous de votre data-flow pour structurer votre projet dans Monitool. Si vous avez suivi
        toutes les étapes, vous disposez de tous les éléments nécessaires.
    </p>
    <ul>
        <li>
            Documentez les objectifs et résultats attendus par votre projet
        </li>
        <li>
            Documentez les activités que vous mettrez en oeuvre pour les atteindre
        </li>
        <li>
            Listez les indicateurs qui mesureront l'atteinte de vos résultats, ainsi que le suivi de
            vos activités (indicateurs de processus)
        </li>
        <li>
            Listez vos outils de collecte de donnée (Excel, papier, ...) ainsi que d'autres sources
            de données (SNIS, enquêtes...) que vous utiliserez pour calculer vos indicateurs, en
            renseignant leur periodicité et sites de collecte et leur contenu
        </li>
    </ul>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th style="width: 60%;" translate="shared.task"></th>
            <th translate="shared.state"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Remplissez les
                <a class="btn btn-default btn-xs" ui-sref="project.config.basics">
                    <i class="fa fa-object-group"></i>
                    <span translate="project.basics"></span>
                </a>
                de votre projet (pays, nom, thématiques, ...).
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.basicsDone"></progress-bar>
            </td>
        </tr>
        <tr>
            <td>
                Renseignez les
                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.collection_site_list"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-map-marker"></i>
                    <span translate="project.collection_site_list"></span>
                </a>
                sur lesquels votre projet va travailler.
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.sitesDone"></progress-bar>
            </td>
        </tr>
        <tr>
            <td>
                Renseignez le cadre logique de référence de votre projet dans
                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.logical_frame_list"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-sign-out"></i>
                    <span translate="shared.logical_frames"></span>
                </a>
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.referenceLfDone"></progress-bar>
            </td>
        </tr>
        <tr>
            <td>
                Si vous disposez de fonds institutionnels et que d'autres
                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.logical_frame_list"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-sign-out"></i>
                    <span translate="shared.logical_frames"></span>
                </a>

                vont être utilisés sur le même projet, renseignez les également.
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.otherLfDone"></progress-bar>
            </td>
        </tr>
        <tr>
            <td>
                Si vous disposez d'autres indicateurs que vous désirez suivre en dehors de votre
                (vos) cadre(s) logique(s), ajoutez les dans
                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.extra"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-sign-out"></i>
                    <span translate="indicator.extra"></span>
                </a>
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.extraIndicatorsDone2"></progress-bar>
            </td>
        </tr>
        <tr>
            <td>
                Renseignez les
                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.collection_form_list"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-sign-in"></i>
                    <span translate="project.collection_form_list"></span>
                </a>

                dont vous allez extraire les données nécessaires au calculs des indicateurs de tous
                vos cadres logiques.<br />
                À mesure de votre avancement, mettez à jour les formules de calcul de vos
                indicateurs dans

                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.logical_frame_list"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-sign-out"></i>
                    <span translate="shared.logical_frames"></span>
                </a>
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.lfIndicatorsDone"></progress-bar>
            </td>
        </tr>
        <tr>
            <td>
                Réalisez la même tâche pour les
                <a
                    class="btn btn-default btn-xs"
                    ui-sref="project.config.extra"
                    disable-if="!$ctrl.project._id"
                >
                    <i class="fa fa-sign-out"></i>
                    <span translate="indicator.extra"></span>
                </a>
            </td>
            <td>
                <progress-bar done="$ctrl.percentages.extraIndicatorsDone"></progress-bar>
            </td>
        </tr>
    </tbody>
</table>
