history {
    .revtbody .restore {
        display: none;
    }

    .revtbody:hover .restore,
    .revtbody .selected {
        display: table-row;
    }

    .table > tbody.revtbody + tbody.revtbody {
        border-top-width: 1px;
    }
}
