<table
    class="table table-bordered table-condensed"
    infinite-scroll="$ctrl.loadMore()"
    infinite-scroll-distance="1"
    infinite-scroll-container="'history'"
    infinite-scroll-disabled="$ctrl.infiniteScrollDisabled"
>
    <thead>
        <tr>
            <th translate="shared.date"></th>
            <th translate="project.author"></th>
            <th translate="project.revision_changes"></th>
        </tr>
    </thead>
    <tbody ng-if="$ctrl.revisions.length == 0 && $ctrl.infiniteScrollDisabled">
        <tr>
            <td colspan="3" translate="project.revision_none"></td>
        </tr>
    </tbody>
    <tbody ng-repeat="(revIndex, revision) in $ctrl.revisions" class="revtbody">
        <tr>
            <td>{{::revision.time|date:'medium'}}</td>
            <td>{{::revision.user}}</td>
            <td><revision-summary revision="revision"></revision-summary></td>
        </tr>
        <tr class="restore" ng-class="{'selected': revIndex == $ctrl.selectedIndex}">
            <td colspan="3">
                <a
                    ng-show="!revision.isEquivalent && revIndex != $ctrl.selectedIndex"
                    class="btn btn-xxs btn-default"
                    ng-click="$ctrl.onRestoreCliked(revIndex)"
                    translate="project.revision_restore"
                ></a>

                <span
                    ng-show="!revision.isEquivalent && revIndex == $ctrl.selectedIndex"
                    translate="project.revision_save_to_confirm"
                ></span>
                <span
                    ng-show="revision.isEquivalent"
                    translate="project.revision_is_equivalent"
                ></span>
            </td>
        </tr>
    </tbody>
</table>
