<nav class="navbar navbar-inverse navbar-fixed-top noprint" role="navigation">
	<div class="container-fluid">


		<div class="collapse navbar-collapse" uib-collapse="!isNavCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li uib-dropdown>
					<a href="#" uib-dropdown-toggle>
						<i class="fa fa-fw fa-language"></i>
						{{'menu.language' | translate}}
						<span class="caret"></span>
					</a>

					<ul class="dropdown-menu">
						<li><a ng-click="$root.changeLanguage('fr')" ng-if="$root.language != 'fr'" translate="menu.french"></a></li>
						<li><a ng-click="$root.changeLanguage('en')" ng-if="$root.language != 'en'" translate="menu.english"></a></li>
						<li><a ng-click="$root.changeLanguage('es')" ng-if="$root.language != 'es'" translate="menu.spanish"></a></li>
					</ul>
				</li>

				<li uib-dropdown>
					<a href="#" uib-dropdown-toggle>
						<i class="fa fa-fw fa-user"></i>
						{{$root.userCtx.email}}
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li>
							<a ng-click="$ctrl.logout()">
								<i class="fa fa-fw fa-arrow-left"></i>
								<span translate="shared.logout"></span>
							</a>
						</li>
					</ul>

				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid main-content" ui-view></div>
