@import '../auth-login/auth-login.scss';

.auth-container {
  .btn {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: 8px;
    }
  }
}
