<ol class="breadcrumb">
	<li><a ui-sref="main.projects" translate="shared.projects"></a></li>
	<li class="active" title="{{$ctrl.project.country}}" ng-bind="$ctrl.project.country|maxLength:20"></li>
	<li class="active" title="{{$ctrl.project.name}}" ng-bind="$ctrl.project.name|maxLength:50"></li>
	<li class="active" translate="project.collection_site_list"></li>
</ol>

<form name="$ctrl.sitesForm" novalidate>

	<legend translate="project.collection_site_list"></legend>

	<table class="table table-bordered table-stripped table-condensed sites">
		<thead>
			<tr>
				<th></th>
				<th translate="project.entity_name"></th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-if="$ctrl.editableProject.entities.length == 0">
			<tr>
				<td colspan="3" translate="project.no_input_entities"></td>
			</tr>
		</tbody>
		<tbody ng-sortable="$ctrl.ngSortableOptions">
			<tr ng-repeat="site in $ctrl.editableProject.entities track by site.id"
				ng-class="{'disabled': !site.active}">
				<td class="handle"><i class="fa fa-sort fa-fw"></i></td>

				<td>
					<ng-form name="center">
						<div class="form-group" show-errors>
							<input type="text" name="name" ng-model="site.name" ng-change="$ctrl.onFieldChange()"
								class="form-control input-sm" ng-disabled="!site.active"
								placeholder="{{'project.entity_name_placeholder'|translate}}" required />
						</div>
					</ng-form>
				</td>
				<td>
					<div class="btn-group" uib-dropdown>
						<a ng-if="site.active" class="btn btn-default btn-sm"
							ng-click="$ctrl.onChangeSiteStatusClicked(site, false)">
							<i class="fa fa-fw fa-pause-circle-o"></i>
							<span translate="shared.disable"></span>
						</a>
						<a ng-if="!site.active" class="btn btn-default btn-sm"
							ng-click="$ctrl.onChangeSiteStatusClicked(site, true)">
							<i class="fa fa-fw fa-play-circle-o"></i>
							<span translate="shared.enable"></span>
						</a>
						<a class="btn btn-default btn-sm" uib-dropdown-toggle>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu" uib-dropdown-menu>
							<li>
								<a ng-click="$ctrl.onDeleteSiteClicked(site)">
									<i class="fa fa-trash text-danger"></i>
									<span class="text-danger" translate="shared.delete"></span>
								</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3">
					<a class="btn btn-default btn-xs" ng-click="$ctrl.onCreateSiteClicked()">
						<i class="fa fa-plus"></i>
						<span translate="shared.add"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>

	<legend translate="project.groups"></legend>

	<table class="table table-bordered table-stripped table-condensed groups">
		<thead>
			<tr>
				<th></th>
				<th translate="project.group_name"></th>
				<th translate="shared.members"></th>
				<th></th>
			</tr>
		</thead>
		<tbody ng-if="$ctrl.editableProject.groups.length == 0">
			<tr>
				<td colspan="4" translate="project.no_input_groups"></td>
			</tr>
		</tbody>
		<tbody ng-sortable="$ctrl.ngSortableOptions">
			<tr ng-repeat="siteGroup in $ctrl.editableProject.groups track by siteGroup.id">
				<td class="handle"><i class="fa fa-sort fa-fw"></i></td>

				<td>
					<ng-form name="center">
						<div class="form-group" show-errors>
							<input type="text" name="name" placeholder="{{'project.group_name_placeholder'|translate}}"
								ng-model="siteGroup.name" ng-change="$ctrl.onFieldChange()"
								class="form-control error input-sm" required />
						</div>
					</ng-form>
				</td>

				<td>
					<ui-select multiple ng-model="siteGroup.members" ng-change="$ctrl.onFieldChange()"
						theme="bootstrap">
						<ui-select-match placeholder="">{{$item.name}}</ui-select-match>
						<ui-select-choices repeat="site.id as site in $ctrl.editableProject.entities">
							{{site.name}}
						</ui-select-choices>
					</ui-select>
				</td>

				<td>
					<a class="btn btn-danger btn-sm" ng-click="$ctrl.onDeleteGroupClicked(siteGroup.id)">
						<i class="fa fa-trash"></i>
						<span translate="shared.delete"></span>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<a class="btn btn-default btn-xs" ng-click="$ctrl.onCreateGroupClicked()">
						<i class="fa fa-plus"></i>
						<span translate="shared.add"></span>
					</a>
				</td>
			</tr>
		</tfoot>
	</table>
</form>