<project-columns>
	<menus>
		<div class="list-group">
			<a ui-sref="projects" ui-sref-active="active" class="list-group-item">
				<i class="fa fa-home fa-fw"></i>
				<span translate="shared.project_list"></span>
			</a>
		</div>

		<div class="list-group">
			<a href="#" class="list-group-item">
				<img src="{{$root.profile.picture}}" style="width: 16px; height: 16px; border-radius: 8px; " />
				{{$root.profile.name}}
			</a>

			<uib-dropdown>
				<a href="#" uib-dropdown-toggle class="list-group-item">
					<i class="fa fa-fw fa-language"></i>
					{{'menu.language' | translate}}
				</a>

				<ul class="dropdown-menu">
					<li><a ng-click="$root.changeLanguage('fr')" ng-if="$root.language != 'fr'"
							translate="menu.french"></a></li>
					<li><a ng-click="$root.changeLanguage('en')" ng-if="$root.language != 'en'"
							translate="menu.english"></a></li>
					<li><a ng-click="$root.changeLanguage('es')" ng-if="$root.language != 'es'"
							translate="menu.spanish"></a></li>
				</ul>
			</uib-dropdown>

			<a ng-click="$ctrl.logout()" class="list-group-item">
				<i class="fa fa-fw fa-power-off"></i>
				<span translate="shared.logout"></span>
			</a>
		</div>
	</menus>
	<content>

		<ol class="breadcrumb noprint">
			<li class="active" translate="shared.projects"></li>
		</ol>

		<help-panel page="project_list"></help-panel>

		<input type="text" ng-change="$ctrl.filter()" ng-model="$ctrl.filterValue" class="form-control filter-text"
			placeholder="{{'project.filter_placeholder'|translate}}">

		<a class="btn btn-primary create-button" ng-click="$ctrl.createProject()">
			<i class="fa fa-plus"></i>
			<span translate="project.create"></span>
		</a>

		<div class="btn-group filter-toggles">
			<a ng-click="$ctrl.toggleOngoing()" class="btn btn-default" ng-class="{active: $ctrl.displayOngoing}"
				translate="project.show_ongoing_projects"></a>
			<a ng-click="$ctrl.toggleFinished()" class="btn btn-default" ng-class="{active: $ctrl.displayFinished}"
				translate="project.show_finished_projects"></a>
			<a ng-click="$ctrl.toggleDeleted()" class="btn btn-default" ng-class="{active: $ctrl.displayDeleted}"
				translate="project.show_deleted_projects"></a>
		</div>

		<div ng-if="!$ctrl.displayedProjects.length" translate="project.no_matches"></div>

		<div>
			<project-panel project="p" ng-repeat="p in $ctrl.displayedProjects track by p._id"></project-panel>
		</div>

	</content>
</project-columns>