<columns-panel variant="$ctrl.project.variant">
    <pane-title>
        <i class="fa pull-right fa-star" ng-if="$ctrl.project.favorite" style="margin-top: 3px; cursor: pointer"
            ng-click="$ctrl.toggleFavorite(p)"></i>
        <i class="fa pull-right fa-star-o" ng-if="!$ctrl.project.favorite" style="margin-top: 3px; cursor: pointer"
            ng-click="$ctrl.toggleFavorite(p)"></i>
        {{$ctrl.project.country}}
    </pane-title>
    <pane-body>
        <div>
            <strong translate="shared.name"></strong>
            {{$ctrl.project.name}}
        </div>
        <div>
            <strong translate="shared.date"></strong>
            {{$ctrl.project.start|date}} - {{$ctrl.project.end|date}}
        </div>
        <div>
            <strong translate="project.owner"></strong>
            {{$ctrl.project.owner}}
        </div>
        <div>
            <strong translate="project.last_entry"></strong>
            <span ng-if="$ctrl.lastInputDate[$ctrl.project._id]">{{$ctrl.lastInputDate[$ctrl.project._id]|date}}</span>
            <span ng-if="!$ctrl.lastInputDate[$ctrl.project._id]" translate="shared.none"></span>
        </div>

        <div class="panel-buttons btn-group">
            <a ng-if="$ctrl.project.active" class="btn btn-default btn-xxs"
                ui-sref="project.usage.home({projectId: $ctrl.project._id})" translate="shared.open"></a>

            <a acl-has-project-role="owner" acl-project="$ctrl.project" ng-if="!$ctrl.project.active"
                class="btn btn-default btn-xxs" ng-click="$ctrl.onRestoreClicked(p)" translate="shared.restore"></a>

            <div class="btn-group" uib-dropdown ng-if="$ctrl.project.active">
                <a class="btn btn-default btn-xxs" uib-dropdown-toggle>
                    <span class="caret"></span>
                </a>

                <ul class="dropdown-menu">
                    <li>
                        <a ui-sref="project.config.home({projectId: $ctrl.project._id})">
                            <i class="fa fa-cogs"></i>
                            <span translate="shared.configure"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.onCloneClicked(p, false)">
                            <i class="fa fa-clone"></i>
                            <span translate="shared.clone_structure"></span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="$ctrl.onCloneClicked(p, true)">
                            <i class="fa fa-clone"></i>
                            <span translate="shared.clone_all"></span>
                        </a>
                    </li>
                    <li acl-has-project-role="owner" acl-project="$ctrl.project">
                        <a ng-click="$ctrl.onDeleteClicked(p)">
                            <i class="fa fa-trash text-danger"></i>
                            <span class="text-danger" translate="shared.delete"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </pane-body>
    <pane-bottom-line>
        <div ng-if="!$ctrl.project.active" class="text-danger">
            <i class="fa fa-trash"></i>
            <span translate="project.was_deleted"></span>
        </div>
        <div ng-if="$ctrl.project.active && !$ctrl.project.running" class="text-warning">
            <i class="fa fa-warning"></i>
            <span translate="project.is_finished"></span>
        </div>
    </pane-bottom-line>
</columns-panel>